body {
    background: #e7f1ff;
    font-family: Arial;
    padding-top: 300px;
    margin: 0;
}


.img-topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: 100;
    object-fit: cover;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    background: rgb(242, 239, 239);
    padding: 20px;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
}

button {
    background: #b59393c8;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

.recado {
    padding: 10px;
    background: #f2f6ff;
    margin-top: 15px;
    border-radius: 6px;
}